

body {
    background-color: blanchedalmond;
    height: 10vh;
}
h3{
    background-color: blanchedalmond;
    color: green;
}
.clase {
    color: green;
}

.list {
    color: blue;
}

.list2 {
    color: blue;
}
}