h1 {
    color: teal;
    font-family: "Courier";
    font-size: 60px;
     height: 5vh;
}

body {
    background-color: blanchedalmond;
    height: 10vh;
}
h2{
    color: green
}
.clase {
    color: green;
}

.list {
    color: blue;
}

.list2 {
    color: blue;
}
