h1 {
    color: teal;
    font-family: "Courier";
    font-size: 60px;
     height: 5vh;
}

body {
    background-color: blanchedalmond;
    height: 10vh;
}
h2{
    color: green
}
.clase {
    color: green;
}

.list {
    color: blue;
}

.list2 {
    color: blue;
}
.contendedor{

    width: 1080px;
    margin: auto;
    background: black;
    color: rgb(228, 203, 171);
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}
.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}
#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: rgb(65, 183, 155);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: rgb(176, 112, 112);
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: bisque;
}
#contenidopestanas{
    clear: both;  
    background: rgb(180, 208, 138);
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 1025px;
}